.first{
     background-image: url(https://assets.nflxext.com/ffe/siteui/vlv3/8d617e19-3c3c-4c28-8998-c9b14dbc7200/web/IN-en-20250901-TRIFECTA-perspective_48d84d4e-9558-46b8-a0f3-8b2dc8478431_large.jpg);
     height: 900px;


}
span h1{
    color: red;
    font-style: normal;
    padding-left: 10px;
    font-size: 70px;
}
select{
    background-color: red;
    text-align: center;
    position: absolute;
    top: 50px;
    left: 1320px;
    color: antiquewhite;
    size: 100px;
    height: 40px;
    width: 80px;
    font-size: 15px;

}
.main h2, h3{
    text-align: center;
    text-decoration: solid;
    color: aliceblue;
    justify-content: center;
    font-size: 30px;
    
}
.main h1{
    font-weight: 1000;
    padding-top: 100px;
    font-size: 60px;
    text-align: center;
    text-decoration: solid;
    color: antiquewhite;
    justify-content: center;
}
.box1{
    background-image: url(&quot;https://occ-0-2991-3646.1.nflxso.net/dnm/api/v6/mAcAr9TxZIVbINe88xb3Teg5_OA/AAAABYgqP-FM9E4u1IbMtOKfqd2ha2nti95bI-jg9xOXxJAcO6Xj9hwy02O4dFu0-oZ_jSi-NQFHPZQwn1NO7eA5LVqqGZIfy9YPjg1G6GzZPMRODawEZXb_7Ks9Ryjl-xUANYCs.webp?r=d90&quot;);
}
.button{
    position: absolute;
    top: 50px;
    left: 1420px;
    height: 40px;
    width: 70px;
}
.ha{
    text-align: center;
    justify-content: center;
}
#button2{
    background-color: red;
    color: antiquewhite;
}



.second{
    height: 300px;
    width: 200px;
    box-shadow: rebeccapurple solid 2px;
    background-image: url(&quot;https://occ-0-4773-2164.1.nflxso.net/dnm/api/v6/mAcAr9TxZIVbINe88xb3Teg5_OA/AAAABYgqP-FM50E4u1IbMtOKfqd2ha2nti95bI-jg9xOXxJAcO6Xj9hwy02O4dFu0-oZ_jSi-NQFHPZQwn1NO7eA5LVqqGZIfy9YPjg1G6GzZPMRODawEZXb_7Ks9Ryjl-xUANYCs.webp?r=d90&quot;);
    border: 2px;
    border-color: antiquewhite;
    background-color: rgb(27, 27, 95);
}
.email{
    height: 45px;
    width: 300px;
    padding-top: 10px;
    text-align: center;
    justify-content: center;
    font-size: 25px;
    position: relative;
    top: 14px;

}
#button2{
    height: 50px;
    width: 200px;
    font-size: 25px;
}
.second h1{
    color: antiquewhite;
}